body {
  background: rgb(51, 166, 211);
}

form {
  display: flex;
}
.left-card {
  background-color: #fff;
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px 0 10px 0;
}
.right-card {
  background-color: rgb(92, 92, 245);
  width: 50%;
  padding: 30px;
  border-radius: 0 0 10p 10px;
}
.names {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.left-name {
  width: 45%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
h2 {
  margin-top: 0;
}
.email {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-bottom: 20px;
}
#date {
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
#company {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
#position {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
