form {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 8px;
  width: 300px;
  align-items: center;
  padding: 3px;
}
label {
  margin: 0 auto;
}
h2 {
  background-color: rgb(255, 47, 81);
  color: #fff;
  width: 300px;
}
.sain {
  border: 2px dashed brown;
  background-color: rgb(241, 241, 241);
}
.b123 {
  text-align: center;
}
